<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testing.org/testng-1.0.dtd">
<suite name="Functional_Suite">
    <test name="TestClassesExecute">
        <classes>
            <class name="com.positiveTests.LoginPageTest"/>
            <class name="com.negativeTests.LoginPageTest"/>
            <class name="com.positiveTests.LogoutPageTest"/>
            <class name="com.positiveTests.PasswordUpdatePageTest"/>
            <class name="com.negativeTests.InvalidPasswordUpdateTest"/>
        </classes>
    </test>
</suite>
